body{
    font-family: arial, sans-serif;
    font-size: 13pt;
}

img{
    height: 15rem;
    margin-bottom: 10px;
}

.kontainer{
    display: flex;
    align-items: flex-start;
}

.teks{
    margin-left: 13px;
}

th{
	text-align: left;
}


